
/* Cart styling  */

.title-cart{
    margin-top: 100px;
}


@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    .about-img{
        display: none;
    }

    #about-container{
        padding-top: 0;
    }
}

@media (max-width: 480px) {}

