.contact-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

.contact-form textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

.contact-form button {
    background-color: #c89e5a;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Prata';
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #d09e5b;

}

.contact-form button:hover {
    background-color: #fff;
    color: #d09e5b;
    border: 2px solid #d09e5b;
}

footer {
    background-color: #303133;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content h3 {
    color: #ffff;
    font-family: 'Prata';
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.footer-content p {
    color: #aaaa;
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

.opening-hours,
.contact-info {
    text-align: left;
}

.social-icons {
    margin-top: 10px;
}

.social-icons img {
    max-width: 40px;
    padding: 5px;
    border-radius: 100%;
}

.social-icons span {
    margin-right: 10px;
    font-size: 20px;
}

.copyright {
    font-size: 16px;
    margin: 0;
    color: #fff;
    background-color: #414141;
    text-align: center;
    font-family: 'Rubik';
    padding: 20px;
}



/* Responsive Design */

/* Tablets and Smaller Laptops */
@media (max-width: 1024px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .opening-hours,
    .contact-info {
        text-align: center;
    }
}

/* Mobile Phones */
@media (max-width: 768px) {
    .contact-container {
        width: 95%;
        position: static;
        transform: none;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-content {
        text-align: center;
    }
}

/* Extra Small Devices */
@media (max-width: 480px) {
    .contact-container {
        width: 100%;
        padding: 20px;
        position: static;
        transform: none;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }

    .contact-form button {
        font-size: 16px;
    }

    .footer-content {
        text-align: center;
    }
}