

.contact-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 400;
}

.contact-form textarea {
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 400;
}

.contact-form button {
    background-color: #c89e5a;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Prata';
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #d09e5b;

}

.contact-form button:hover {
    background-color: #fff;
    color: #d09e5b;
    border: 2px solid #d09e5b;
}





/* Responsive Design */

/* Tablets and Smaller Laptops */
@media (max-width: 1024px) {
    .footer-content {
        /* flex-direction: column; */
        text-align: center;
    }

    .opening-hours,
    .contact-info {
        text-align: center;
    }
}

/* Mobile Phones */
@media (max-width: 768px) {

   
    .contact-container {
        width: 100%;
        position: static;
        transform: none;
    }

    .social-icons {
        justify-content: center;
    }

   
}

/* Extra Small Devices */
@media (max-width: 480px) {

   
    .contact-container {
        /* width: 100%; */
        padding: 20px;
        position: static;
        transform: none;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }

    .contact-form button {
        font-size: 16px;
    }

   
}