/* Navbar */
.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    padding: 5px 30px;
}

/* To prevent content being hidden behind fixed header */
.parent-header {
    margin-bottom: 80px;
    position: relative;
}

/* Container */
.nav-container {
    display: flex;
    justify-content: space-between;
}

/* Sticky Header Style */
.header-scroller {
    background-color: #fdb822;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Logo */
.Header-Logo {
    height: 80px;
    border-radius: 50%;
    /* position: absolute; */
    float: right;
}

/* Navigation Menu */



.Nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav {
    display: flex;
    gap: 30px;
    margin-right: 300px;
}

.Nav a {
    font-size: 18px;
    text-decoration: none;
    font-family: Prata;
    transition: color 0.3s ease;
}

.Nav a:hover {
    color: #ffae00 !important;
}

/* Highlight on scroll */
.header-scroller .Nav a:hover {
    color: black !important;
}

/* Buttons */
.Header-btn,
.Header-btn2 {
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #fdb822;
    transition: background 0.3s ease;
}

.Header-btn2 {
    margin-left: 10px;
}

/* Toggle Button for Mobile */
.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 15px;
    font-size: 30px;
    border-radius: 100%;
    background: none;
    z-index: 1111;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top:  10px;
    }

    .Nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .Nav.open {
        display: flex;
    }



    nav{
        flex-direction: column;
        margin-right: 0;
    }

    .Header-Logo {
        width: 80px;
    }

    .btn-perent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .Header-btn,
    .Header-btn2 {
        width: 90%;
        text-align: center;
    }
}